.index-container {
  width: 100%;
}

.top-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  // height: 320px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  border-radius: 5px;
  transform: translate3d(-50%, -50%, 0);
}

.search-btn {
  width: 100%;
  margin-top: 24px;
}

.from-station,
.to-station {
  width: 100%;
}

.to-station {
  margin-top: 16px;
}
