@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin item-img-bg() {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}